node_modules
dist
dist-ssr
.git
.env
.vscode
public
src
index.html
vite.config.ts
tsconfig.json
tsconfig.node.json
tsconfig.app.json
eslint.config.js
postcss.config.js
tailwind.config.js
render.yaml
*.md
